<p>Welcome, <%= @email %>!</p>

<p>You can confirm your account email through the link below.  Note that if the Andrew email client is not displaying the following line as a link, you can simply hit "View as HTML."</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
